.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


div.aztech-container .container {
    max-width: 1400px;
  }

  thead.experience {
    background-image: linear-gradient(to right top, #52306b, #563b7e, #584792, #5754a7, #5161bc, #5669c9, #5b72d6, #607ae3, #767eeb, #8b83f2, #9f87f9, #b38bff);
    color: white;
  }
  .card-medium {
      min-height: 8.7rem;
      overflow: hidden!important;
  }




  #solutionTreee {
    background: #373737;
    overflow: hidden;
    font-family: 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;

  }

  .col-specific-font {

      background: #fffff;
      font-size: 10px;
      font-weight: 0;
      height: auto;
      padding: .4375rem .75rem;
      font-size: .8125rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      border: 1px solid #e1e5eb;
      font-weight: 300;
      will-change: border-color,box-shadow;
      border-radius: .25rem;
      box-shadow: none;
      transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
      text-align: right!important;

  }

  .MuiPaper-rounded {
      border-radius: 4px;
      height: 400px !important;
  }

  .dXSneh {
      position: absolute;
      height: 1100px;
      width: 75px;
      z-index: 1;
      background-image: linear-gradient(to right top,#2a163d,#2b1d47,#2c2550,#2b2c5a,#293463,#333e73,#3e4883,#495293,#6960ad,#8c6cc5,#b278db,#da83ee);
      padding-top: 10px;
  }